* {
  box-sizing: border-box;
}
body {
  background-size: 150%;
  color: rgb(255, 255, 255);
  font-family: Helvetica;
}

.form {
  max-width: 860px;
  margin: 6rem auto 0 auto;
  display: flex;
  flex-direction: row;
  padding: 4rem;
  border-radius: 0.2rem;
  position: relative;
}
.form-group_title {
  color: #e57b5c;
  text-align: right;
}
.form-group_input {
  width: 100%;
  border-width: 0 0 2px 0;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: right;
}
.form_background {
  border-radius: 0.2rem;
  background-color: #fff;
  padding: 3rem 2rem;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
  width: 50%;
  height: 120%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transition: all 0.3s cubic-bezier(0.04, 0.57, 0.15, 1.46);
}
.fieldset {
  flex: 1;
  margin: 0;
  border: 0;
  padding: 0 5rem 0 0;
  text-align: right;
  background-image:url("https://b.top4top.io/p_2152xnc5q1.png");
}

.fieldset:last-child {
  padding: 1rem;
  padding-right: 1rem;
  text-align: right;
  background-color: rgb(0 0 0 / 25%);
}

.button {
  text-transform: uppercase;
  padding: 0.6rem 3rem;
  border: 1px solid #fff;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background 0.2s ease-in;
  display: inline-block;
  margin-top: 1rem;
  text-decoration-line: none;

}
.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.content{
  background-color: rgba(8, 8, 8, 0.24);
}

