@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  direction: rtl;
  background-color: #f8f8f8 !important;
  height: 100%;
  width: 100%;
  background: #fff;
  font-weight: 400;
}
.navbar {
  box-shadow: 1px 2px 5px #ebebeb;
  color: rgba(0, 0, 0, 0.55);
  background-color: #f7f6f6;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}

.support {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom: 15px;
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
.heading hr {
  box-shadow: 4px 4px 6px #646668;
  width: 90%;
  position: relative;
  right: 5%;
  margin-bottom: 1.5rem;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card {
  width: 100%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
}
.img-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.25s ease;
}
.card-content {
  padding: 15px;
  text-align: left;
}
.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.45em;
}
.card-title a {
  color: #505050  !important;
  text-decoration: none !important;
  font-size: 0.90em;
}
.card-read-more {
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #da9c28;
}

.content h4 {
  text-align: center;
 
  font-size: 300%;
}
.content p {
  text-align: right;
  font-size: 115%;
  line-height: 170%;
}
#about_us {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 150%;
  text-align: center;
  border-left: 2px solid #e4e0e0;
  border-right: 2px solid #e4e0e0;
  box-shadow: 1px 2px 5px #ebebeb;
  padding: 5% 0px 5% 0px;

}
#meaning {

  font-size: 800%;
  padding: 1% 0px 10% 0px;
}
.btn-link:hover {
  color: #8a5b06;
}
#Design {
  margin-top: 10%;
}
ul li:hover > ul {
  display: block;
  height: auto;
}
footer{
  background-color: #ebebeb;
  text-align: center;
}
footer h5{
  font-weight: 600 ;
  color:#131414;
  padding-bottom: 10px;
}
.fab,.far{
font-size: 30px;
margin-left: 4px;
color: gray; 
}
footer a{
  color: #212529;
  text-decoration: none;
}

/*new*/

*{
  font-family:'Noto Sans Arabic', sans-serif;
}


.activities{
margin-left: 20%;
margin-right: 20%;
text-align: center;

}

.link,.link:hover{
 color:black;
 text-decoration:none;
 
}

.link:hover{
  color: gray;
}


.fade-in {
  text-align: center;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  font-size:300%;

}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}



.images{
border-radius: 15px 40px; 
  display: inline-block;
}

.box{
  display: inline-block; 
  padding-left: 5% ; 
  padding-right: 7%;
}

.box:hover{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
  border-radius: 15px 40px;
 
}


#big-box{
 margin-top:5em;
}

