html,
body {
  direction: rtl;
  background-color: #f8f8f8;
  height: 100%;
  width: 100%;
  font-weight: 400;
}

@media (min-width: 450px) {
  h1.heading {
      font-size: 3.55em;
  }
}

@media (min-width: 760px) {
  h1.heading {
      font-size: 3.05em;
  }
}

@media (min-width: 900px) {
  h1.heading {
      font-size: 3.25em;
      margin-top: 50px;
      margin-bottom: 50px;
  }
}
.navbar {
    box-shadow: 1px 2px 5px #ebebeb;
    color: rgba(0, 0, 0, 0.55);
    background-color: #f7f6f6;
    font-family:'Noto Sans Arabic', sans-serif;
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
  }

.Newdrop-down {
    position: relative;
    display: inline-block;}
  
.Newdrop-down-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;  
    padding:10px;}

#Artists{
        min-width: 450px;
    }
#Gallery{
        min-width: 300px;
    }

.Newdrop-down-content a {
    color: rgb(184, 156, 120);
    padding: 0px 16px;
    text-decoration: none;}
  
.Newdrop-down-content a:hover {background-color: #ddd;}
  
.Newdrop-down:hover .Newdrop-down-content {display: block;}
  
.Newdrop-down:hover{background-color:#ddd;}

.first{
  transform:translate(-250%);
}

#shortdif{
    padding-top:8%;
    margin:5%;
    font-size: 200%; 
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans Arabic', sans-serif;
}

.imgsize{
    border: 10px white solid;
    border-bottom: 60px white solid;
    width: 23%;
    height:70%;
    margin:5% 5%;
}
.chiocebuttons{
    background-color: rgb(216, 210, 203);
    text-align: center;
    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius:10px ;

}
.chiocebuttons:hover , #pages a:hover , button:hover{
color: antiquewhite;
}

.updown{
    position: fixed;
    /* right:95%; */
     width:45px;
     height: 18px;
}

.updown:hover{
    height: 22px;
}

#up{
    top:73%;
}

#down{
    top:80%;
}

h5{
    font-family: 'Aref Ruqaa', serif;
    color:black;
    font-size: 200%;
    position:absolute;
    
    /* move based on the page head */
}

.h5top1{
    top: 134.5%;
}
.h5top2{
    top: 225%;
}
.h5top3{
    top: 315%;
}

.imgsize:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
    
}

a{
    text-decoration: none; 
    color: black;
}

div a{
    padding:10% 2%;
}

button{
    background: none;
	border: none;
}
.artistimg{
    border-radius:30px 30px; 
    /*This property is used to set first value as top-left and bottom right corner and second value as top right and bottom left corners. */
    width:250px; 
    height:200px; 
    margin-right: 40.5%;
}

ul{
    list-style: none;
}

.artistinfo{
    font-family: 'Noto Sans Arabic', sans-serif;
    color:black;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
.aboutartist{
    font-family: 'Noto Sans Arabic', sans-serif;
    color:black;
    font-size: 90%;
    text-align: center;
}

#topaintstore{
    margin:10%;
    font-family: 'Noto Sans Arabic', sans-serif;
    color:rgb(165, 149, 128);
    font-size: 130%;
    font-weight: bold;
    text-align: center;}

#tostore{
    margin:5%;
        font-family: 'Noto Sans Arabic', sans-serif;
        color:rgb(165, 149, 128);
        font-size: 130%;
        font-weight: bold;
        text-align: center;}    
    
    
.bag-icon-link{
    position:absolute;
    right:47%;
    bottom:70%;
}

.bag-icon{
    width:30px;
    height:30px;
}

.bag-icon:hover{
    width:35px;
    height: 35px;
}




.carousel-control-prev-icon-not {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }
  
.carousel-control-next-icon-not {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.aboutart{
    font-family: 'Noto Sans Arabic', sans-serif;
    color:black;
    font-size: 115%;
    line-height: 150%;
    position: absolute;
    bottom: 30%;
    
    
}

#pages{
    font-family: 'Estonia', cursive;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}
#pages img{
    width:30px;
    height: 40px;
}

#pages img:hover{
    width:40px;
    height:50px;
}

.aboutart13{
    right:65%;
}

#aboutart2{
    right:18%;

}

.img13{
    margin-right:2%;
}

#img2{
 margin-right:55%;
}


.imgdiv{
    position: relative; 
    margin:5%
}


#tostorebutton{
    position: relative ;
    right: 43%;
    padding:14px 31px;/* up-down (height) , right-left (width) */
}

.container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}
.fostrap-logo {
    width: 100px;
    margin-bottom: 15px;
  }

footer{
    background-color: #ebebeb;
    text-align: center;
  }
footer h5{
    font-family:'Noto Sans Arabic', sans-serif;
    margin-right:6%;
    font-size: 20px;
    font-weight: 600 ;
    color:#131414;
  }
.fab,.far{
  font-size: 30px;
  margin-left: 7px;
  margin-top:10px;
  color: gray; 
  }
footer a{
    color: #212529;
    text-decoration: none;
  }