.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  .store-head{
    position: relative;
    overflow: hidden;
    display: flex;
    padding-right: 0%;
  }
  .store-head h3 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-family: 'Noto Sans Arabic', sans-serif;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
  }
  video{
    width: 100%;
    height: 100%;
    display: inline;
  }
  .video-wrapper{
    position: absolute;
  }
  #welcome{
    text-align: center;
    font-size: 2rem;
    font-family: 'Noto Sans Arabic', sans-serif;
    padding: 20px;
  }
  .cardy{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .cardy:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .shop-button {
    display: inline-block;
    color: #fff;
    background-color: #7e8083;
    border-color: #7e8083;
    border-radius: 0.25rem;
    font-size: 15px;
    padding: 0.2rem 0.7rem;
    text-decoration: none;
    cursor: pointer;
    
  }
  .shop-button:hover {
    color: #fff;
    background-color: #4a4d52;
    border-color: #4a4d52;
  }
  
  .grid-container {
    font-family: 'Noto Sans Arabic', sans-serif;
    text-align: right;
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(4,.5fr);
    padding: 10px;
  }
  .card-item {
   font-family: 'Noto Sans Arabic', sans-serif;
    font-size: 30px;
    text-align: center;
  }
  .card-item img{
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: hidden;
  }
  .card-body .fas{
  font-size: 16px;
  margin-left: 4px;
  color: gray; 
  padding-bottom:4px ;
  }
  .card-body h5{
    text-align: right;
  }
  .card-body p{
    font-size: 13px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  /*sproduct page*/
  *{font-family: 'Noto Sans Arabic', sans-serif;}
      a{
        color: #212529;
        text-decoration: none;
      }
      .fa-shopping-carto
      {
        font-size: 30px;
        margin-left: 4px;
        color: gray; 
      }
      .sizemenu {
        min-width: fit-content;
        min-height: fit-content ;
        font-size: 12px;
        color: #212529;
        text-align: center;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
      }
      #myBtn {
        position: fixed;
        margin-bottom: 1rem;
        right: 1%;
        bottom:1%;
        max-width: fit-content;
        width: 100%;
        color: #fff;
        background-color: #f8f8f8;
        border: none;
        font-size: 30px;
        padding: 0.2rem 0.7rem;
        text-decoration: none;
        cursor: pointer;

    }
  #textCentered{
            text-align: center; 
            position: absolute;
            top: 30%;
            left:50%;
            transform: translate(-50%);
        }
        #textCentered h1{
            font-size: 3rem;
            top: 50%;
            left:50%;
          
        }
